* {
    font-family: Arial;
}

html,
body {
    min-height: 100vh;
}

body {
    position: relative;
    font-size: 10pt;
    margin: 0;
    --small: 10px;
    --medium: 20px;
    --large: 40px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--large);
}

body header,
body main {
    padding: var(--large);
}

body main {
    background-color: white;
    min-height: 50vh;
    max-width: 1000px;
    width: 1000px;
    align-self: center;
    flex: 1;
}

body.route-home main,
body:not(.authenticated) main {
    background-color: transparent;
    font-size: 800%;
    text-shadow: 1px 1px 3px black;
    color: white;
    align-self: flex-start;
}

body header {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 black;
    height: 2em;
}

body header nav {
    display: flex;
    gap: var(--medium);
}

body header a {
    color: black !important;
}

a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

body>footer {
    font-size: 90%;
    background-color: white;
}

body>footer ul {
    list-style: none;
}

body.authenticated .logged-out {
    display: none;
}

body:not(.route-home) .intent-home {
    display: none;
}

body:not(.authenticated) .logged-in {
    display: none;
}

body:not(.route-subscribe) .intent-subscribe {
    display: none;
}

body:not(.license-free) .license-free {
    display: none;
}

body:not(.route-account) .intent-account {
    display: none;
}

body:not(.route-admin) .intent-admin {
    display: none;
}